<div class="w-4/4 shadow-md p-10 bg-white shadow-blue-200/20 mx-36 my-10">
  <div class="flex justify-between items-center mb-4 mt-4">
    <input
      type="text"
      class="w-full border p-2 rounded-lg"
      placeholder="Search"
      (input)="filterData(search.value)"
      #search
    />
    <select
      class="border p-2 rounded-lg"
      #pageSize
      (change)="changePageSize(pageSize.value)"
    >
      @for (pageSize of pageSizes; track $index) {
      <option [value]="pageSize">{{ pageSize }}</option>
      }
    </select>
  </div>

  <table class="w-full border-4">
    <thead>
      <tr>
        <th class="p-3 text-left bg-gray-200">#</th>
        <th class="p-3 text-left bg-gray-200">Supplier</th>
        <th class="p-3 text-left bg-gray-200">Address</th>
        <th class="p-3 text-left bg-gray-200">Email</th>
        <th class="p-3 text-left bg-gray-200">Phone</th>
        <th class="p-3 text-left bg-gray-200">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (supplier of visibleData(); track $index) {
      <tr class="border-2">
        <td class="p-3 border-2">{{ $index + 1 }}</td>
        <td class="p-3 border-2">{{ supplier.name }}</td>
        <td class="p-3 border-2">{{ supplier.address }}</td>
        <td class="p-3 border-2">{{ supplier.email }}</td>
        <td class="p-3 border-2">{{ supplier.phone }}</td>
        <td class="p-3 border-2"></td>
      </tr>
      }
    </tbody>
  </table>

  <div class="mt-4 flex items-center justify-center">
    <button
      class="text-cyan-500 border-4 py-2 px-4 rounded-l-lg cursor-pointer mr-5"
      (click)="previousPage()"
    >
      Previous
    </button>
    @for (totalPage of pageNumber(); track $index) {
    <button
      class="py-2 px-4 cursor-pointer"
      [class.bg-cyan-500]="$index + 1 === currentPage"
      [class.text-white]="$index + 1 === currentPage"
      (click)="changePage($index + 1)"
    >
      {{ $index + 1 }}
    </button>
    }
    <button
      class="text-cyan-500 border-4 py-2 px-4 rounded-r-lg cursor-pointer ml-5"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
